
body{
    margin: 0 auto;
    text-align: center;
    background: #F2F2F2;
}
 

.container {
    border: 2px solid gray;
    border-radius: 10px;
    padding-top: 8px;
    width: 220px;
    height: 322px;
}

textarea {
    resize:none;
    margin: 5px auto;
    margin-bottom: -13px;
    padding: 0px;
    text-align:right;
}

.btn {
    width: 40px;
    height: 40px;
}

.btnEnter {
    height: 84px;
}

.btnZero {
    width: 88px;
}

.col-3 {
    padding: 3px 0px;
}

.row {
    margin-right: -5px;
    margin-left: -5px;

}

.zpt {
    padding: 3px 0px;
    margin: 0px;
}

.col-2 {
        padding: 6px 27px;
}

.col-7 {
        padding: 6px 15px;
}


.col-10 {
    margin: 4px -19px;
}

